In [58]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [30]:
data = {'Outlook' : ['sunny','sunny', 'overcast', 'rainy', 'rainy', 'rainy', 'overcast','sunny','sunny', 'rainy','sunny', 'overcast', 'overcast','rainy']}
data['humidity'] = ['high','high','high','high','normal','normal','normal','high','normal','normal','normal','high','normal','high']
data['windy'] = ['weak','strong','weak','weak','weak','strong','weak','weak','weak','weak','strong','strong','weak','strong']
data['play'] = ['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']

In [31]:
df = pd.DataFrame(data)
df

     Outlook humidity   windy play
0      sunny     high    weak   no
1      sunny     high  strong   no
2   overcast     high    weak  yes
3      rainy     high    weak  yes
4      rainy   normal    weak  yes
5      rainy   normal  strong   no
6   overcast   normal    weak  yes
7      sunny     high    weak   no
8      sunny   normal    weak  yes
9      rainy   normal    weak  yes
10     sunny   normal  strong  yes
11  overcast     high  strong  yes
12  overcast   normal    weak  yes
13     rainy     high  strong   no

In [33]:
 # encoding data
Outlook = LabelEncoder()
humidity = LabelEncoder()
windy = LabelEncoder()
play = LabelEncoder()

In [42]:
df['Outlook'] = Outlook.fit_transform(df[['Outlook']])
df['humidity'] = humidity.fit_transform(df[['humidity']])

df['windy'] = wind.fit_transform(df[['windy']])
df['play'] = play.fit_transform(df[['play']])

C:\Users\Danya\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Danya\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Danya\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Danya\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [43]:
df

    Outlook  humidity  windy  play
0         2         0      1     0
1         2         0      0     0
2         0         0      1     1
3         1         0      1     1
4         1         1      1     1
5         1         1      0     0
6         0         1      1     1
7         2         0      1     0
8         2         1      1     1
9         1         1      1     1
10        2         1      0     1
11        0         0      0     1
12        0         1      1     1
13        1         0      0     0

In [54]:
features  = ['Outlook', 'humidity', 'windy']
features
x = df[features]

y = df['play']
x
# y

    Outlook  humidity  windy
0         2         0      1
1         2         0      0
2         0         0      1
3         1         0      1
4         1         1      1
5         1         1      0
6         0         1      1
7         2         0      1
8         2         1      1
9         1         1      1
10        2         1      0
11        0         0      0
12        0         1      1
13        1         0      0

In [55]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play, dtype: int32

In [56]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [64]:
reg = DecisionTreeClassifier( criterion='gini')

In [65]:
reg.fit(X_train,y_train)

DecisionTreeClassifier()

In [66]:
reg.predict(X_test)

array([1, 1, 1])

In [67]:
X_test

    Outlook  humidity  windy
13        1         0      0
11        0         0      0
9         1         1      1

In [68]:
y_test

13    0
11    1
9     1
Name: play, dtype: int32

In [71]:
score(reg,X_test,y_test)

NameError: name 'score' is not defined

In [72]:
from sklearn import tree

In [73]:
tree.plot_tree(classifier)

NameError: name 'classifier' is not defined