In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df  = pd.read_csv('./iris.csv')

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
# Frist step is to convert the categorial data into binary values
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
df['Species'].replace({'Iris-setosa': '1', 'Iris-versicolor': '2', 'Iris-virginica' : '3'},inplace = True)

In [10]:
df['Species'].unique()

array(['1', '2', '3'], dtype=object)

In [20]:
# Second Step is to split the data
x_train,x_test,y_train, y_test=train_test_split(df[['SepalLengthCm' ,'SepalWidthCm', 'PetalLengthCm' ,'PetalWidthCm']],df[['Species']],test_size=0.2)

In [23]:
reg = LogisticRegression()

In [24]:
reg.fit(x_train,y_train)

C:\Users\Danya\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [25]:
reg.predict(x_test)

array(['1', '2', '3', '1', '2', '3', '3', '3', '1', '1', '1', '1', '2',
       '1', '1', '3', '3', '2', '3', '3', '3', '3', '2', '2', '2', '2',
       '1', '2', '3', '3'], dtype=object)

In [27]:
y_test

    Species
9         1
50        2
118       3
1         1
80        2
77        2
144       3
108       3
27        1
0         1
24        1
48        1
95        2
12        1
18        1
143       3
70        2
99        2
122       3
100       3
116       3
102       3
94        2
79        2
75        2
87        2
19        1
55        2
83        2
132       3

In [30]:
# to check the how accurate is the model
lr.score(x_test,y_train)

NameError: name 'lr' is not defined