In [25]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [35]:
#Loading the data
df  = pd.read_csv('./iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [36]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [37]:
# Converting categorial data into binary data
species = LabelEncoder()
df['Species'] = species.fit_transform(df['Species'])
# df['Species'].unique()

In [12]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [32]:
# dividing into dependented and independent variables
x = df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

In [18]:
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [19]:
y  = df['Species']

In [20]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [22]:
#Splitting data into test and train data
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [23]:
len(X_train)

105

In [24]:
len(y_train)

105

In [26]:
# creating object of the algorithem

clf = RandomForestClassifier( n_estimators=100,criterion='gini',)

In [27]:
# Training our model
clf.fit(X_train,y_train)

RandomForestClassifier()

In [28]:
# Predicting our result 
clf.predict(X_test)

array([1, 1, 1, 0, 1, 2, 2, 1, 0, 1, 1, 0, 1, 1, 1, 1, 2, 1, 0, 0, 2, 1,
       1, 1, 1, 2, 1, 0, 0, 2, 0, 1, 0, 1, 2, 1, 2, 1, 0, 2, 1, 1, 1, 0,
       2])

In [29]:
y_test

88     1
51     1
67     1
19     0
72     1
132    2
139    2
50     1
45     0
62     1
90     1
16     0
89     1
58     1
74     1
91     1
118    2
60     1
32     0
7      0
127    2
78     1
56     1
93     1
81     1
104    2
59     1
15     0
2      0
128    2
6      0
53     1
10     0
138    2
117    2
55     1
146    2
73     1
0      0
149    2
126    2
82     1
119    2
1      0
129    2
Name: Species, dtype: int32

In [30]:
# SCore of the model. Accuracy
clf.score(X_test,y_test)

0.9333333333333333

In [44]:
# we check the important features of the data
important_feature = pd.Series(clf.feature_importances_).sort_values(ascending=False)
important_feature

3    0.453750
2    0.426779
0    0.098784
1    0.020687
dtype: float64