In [15]:
import pandas as pd
from sklearn import linear_model 
import numpy as np

In [16]:
data = {'age': [25 ,30,35,40,45], 'weight' : [70, 95, np.nan, 110, 85], 'insurance' : [18000,32000,42000,47000,55000] }

In [17]:
df = pd.DataFrame(data)
df

   age  weight  insurance
0   25    70.0      18000
1   30    95.0      32000
2   35     NaN      42000
3   40   110.0      47000
4   45    85.0      55000

In [23]:
# handling missing value
mean = df.weight.mean()

In [26]:
df.weight = df.weight.fillna(mean)

In [27]:
reg = linear_model.LinearRegression()
reg

LinearRegression()

In [28]:
df

   age  weight  insurance
0   25    70.0      18000
1   30    95.0      32000
2   35    90.0      42000
3   40   110.0      47000
4   45    85.0      55000

In [29]:
reg.fit(df[['age','weight']],df[['insurance']])

LinearRegression()

In [31]:
reg.predict([[27,60]])

C:\Users\Danya\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[22288.8030888]])